<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clash Royale website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Clash Royale Site</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/about">About Game</a>
    <a href="/gameplay">Gameplay</a>
    <a href="/history">History</a>
    <a href="/tips">Tips</a>
</nav>

<main>
    {% block content %}
    
    {% endblock %}
</main>

<footer>
    <p>© Clash Royale Fan Site</p>
</footer>


<script src="{{ url_for('static', filename='easter_egg.js') }}"></script>

</body>
</html>