{% extends "base.html" %}
{% block content %}

<h1> History </h1>
<p> Clash Royale's history </p>

<p>
Clash Royale was released in 2016 and quickly became one of the most
popular mobile games in the world. Supercell regularly updates the game
with balance changes and new content, including seasons and the Pass Royale.
The game in recent years had a downfall, but in may 2024 game was revived 
and gained it's popularity again by the streamer Jynxzi.
</p>


<img src="{{ url_for('static', filename='img/jynxzi.jpg') }}" width="200">

{% endblock %}